[Unit]
Description=prometheus-node-exporter
After=network.target

[Service]
User={{ node_exporter_system_user }}
Group={{ node_exporter_system_group }}
ExecStart=/opt/prometheus-node-exporter/node_exporter
KillMode=process
SyslogIdentifier=node_exporter
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target