[Unit]
Description=prometheus
After=network.target

[Service]
User={{ prometheus_system_user }}
Group={{ prometheus_system_group }}
ExecStart=/opt/prometheus/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/data
KillMode=process
SyslogIdentifier=prometheus
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target