global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['all'] %}
         - '{{ host }}:9100'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
  - job_name: 'minecraft'
    static_configs:
      - targets: ['spri.infra.alykraft.fr:9225']
        labels:
          server_name: 'spri'
      - targets: ['saly.infra.alykraft.fr:9226']
        labels:
          server_name: 'saly'